* {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 5px;
    height: 5px;
}


.colors {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.color1 {
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}
.color2 {
    background-color: blue;
    width: 50vw;
    height: 50vh;
}
.color3 {
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;
}

.arrow {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    
}