body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.slider {
    --sliderWidth: 400px;
    width: var(--sliderWidth);
    overflow: hidden;
    position: relative;
}
  
.slider__slides {
    display: flex;
    transition: transform 0.3s;
}
  
.slider__slide {
    width: var(--sliderWidth);
    height: 300px;
    object-fit: cover;
}
  
.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: yellow;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
  
.slider__arrow--right {
    right: 0;
}